<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: url("https://innovationinpolitics.eu/wp-content/uploads/2020/03/jaredd-craig-HH4WBGNyltc-unsplash-1024x1536.jpg") no-repeat center center fixed;
        background-size: cover;
    }

    .message-container {
        text-align: center;
    }

    h1,p {
        font-family: "Times New Roman", sans-serif; /* Replace with your unique font */
        font-weight: bold;
        font-size: 40px;
        color: black;
        text-shadow: 10px 10px 10px rgba(0, 0, 0, 1); /* Add text shadow */
    }

    .login-link {
        font-family: "Times New Roman", sans-serif; /* Replace with your unique font */
        text-decoration: none;
        background: transparent;
        font-size: 20px;
        display: block; /* Change to block element for centering */
        margin: 0 auto; /* Horizontal centering using margin */
        padding: 12px 24px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        transition: background 0.3s ease-in-out;
        height: auto;
        width: fit-content;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Add text shadow */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    }

    .login-link a{
        color: white;
    }

    .login-link:hover{
        font-size: 23px;
        transition: all 0.5s; /* Add a transition for smooth effect */
    }

</style>
</head>
<body>
<div class="message-container">
    <h1>404 - Page Not Found</h1>
    <p style="font-size: 20px">The page you are looking for does not exist.</p>
    <br>
    <button class="login-link" ><a href="/login">Login Again...</a></button>
</div>
</body>
</html>