<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    Stylesheet for Navigation bar-->
    <link rel="stylesheet" href="CSS/Navbar.css">
    <title>NavBar</title>
</head>
<body>
    <nav class="navbar">
    <div class="logo">
        <span class="company-name" >Bookify</span>
    </div>
    <div class="icons">
        <ul>
            <li><a class="active" href="../Home%20Page/Home.html"><i class="fa fa-fw fa-home"></i><br> Home</a></li>
            <li><a href="../Book%20Page/Book.html"><i class="fa fa-fw fa-book"></i><br> Books</a></li>
            <li><a href="../Contact%20Us%20Page/Contact%20Us.html"><i class="fa fa-fw fa-envelope"></i><br> Contact</a></li>
        </ul>
    </div>
</nav>
</body>
</html>
